doctype html
html(lang='en')
  head
    title What do you want 3000

    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
    meta(name='description' content='Something for you to begin with.')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='mobile-web-app-capable' content='yes')

    link(type="text/css" rel="stylesheet" href="./css/app.css")

  body
    h1 What do you want 3000
    #content
    script(src='bower_components/string/dist/string.js')
    script(src='js/app.js')
